@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Tiro+Devanagari+Hindi:ital@0;1&display=swap');

:root {
    --primary-color: #BD9561;
    --secondary-color: #725530;
}

.primary-color {
    color: var(--primary-color);
}

.body {
    margin: 0 auto;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

.header {
    width: 100%;
    height: 5em;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
}

.navbar {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.nav-link {
    font-size: 1.3rem;
    color: #fff;
    font-family: "Philosopher", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: relative;
    overflow: hidden;
    background: none;
    padding: .5rem;
    transition: all 0.4s ease;
}

.nav-link::before,
.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    transition: transform 0.4s ease;
}

.nav-link::before {
    top: 0;
    transform: scaleX(1);
    transform-origin: right;
}

.nav-link::after {
    bottom: 0;
    transform: scaleX(1);
    transform-origin: left;
}

.nav-link:hover::before {
    transform: scaleX(0);
}

.nav-link:hover::after {
    transform: scaleX(0);
}

.nav-link:hover {
    color: #000;
}

.logo {
    font-size: 1.9rem;
    font-family: "Philosopher", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #000;
}

.btn-1 {
    /* display: inline-block; */
    position: relative;
    overflow: hidden;
    background: none;
    color: var(--secondary-color);
    border: none;
    width: 100%;
    height: 100px;
    font-size: 3.4rem;
    font-family: "Philosopher", sans-serif;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
    transition: all 0.3s ease;
    transition-delay: 0.2s;
    /* margin-top: 2rem; */
}

.btn-1 a {
    color: var(--secondary-color);
    position: relative;
    z-index: 1;
    transition: all 0.3s ease;
    transition-delay: 0.2s;
}

.btn-1::before,
.btn-1::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--primary-color);
    transition: transform 0.4s ease;
}

.btn-1::before {
    top: 0;
    transform: scaleX(1);
    transform-origin: right;
}

.btn-1::after {
    bottom: 0;
    transform: scaleX(1);
    transform-origin: left;
}

.btn-1:hover::before {
    transform: scaleX(0);
}

.btn-1:hover::after {
    transform: scaleX(0);
}

.btn-1:hover {
    scale: 1.1;
    color: var(--primary-color);
}

.btn-1:hover a {
    color: var(--primary-color);
}

.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #000; */
    color: #fff;
    font-family: "Philosopher", sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
}

.hero-title {
    font-size: 64px !important;
    font-weight: 400 !important;
    font-family: "Philosopher", sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
}

.hero-sent {
    font-size: 40px;
}

.hero-und {
    font-size: 36px;
}

.cf .about-home {
    display: flex;
    align-items: flex-start;
    width: 80%;
    margin: 2% auto;
    text-align: left;
}

.cf .about-home-left,
.cf .about-home-right {
    width: 50%;
    box-sizing: border-box;
    padding: 0 2rem;
}

.cf .about-home-right {
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cf .about-home-title {
    margin: 0;
    font-family: "Philosopher", sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
    font-size: clamp(2rem, 5vw, 3.5rem) !important;
}

.cf .about-home-text-left {
    display: flex;
    flex-direction: column;
}

.cf .about-home-text-left p,
.cf .about-home-right p,
.cf .about-home-right .tel,
.about-cheffe-home-1-text p,
.about-cheffe-home-2-text p {
    font-family: "Tiro Devanagari Hindi", serif;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(1.8rem, 3vw, 1.9rem);
    margin: 1.7rem 0;
    color: #000;
}

.about-home-right img {
    max-width: 100%;
}

.cf .about-home-text-left p span,
.cf .about-home-title span,
.cf .about-home-right .tel span {
    color: var(--primary-color) !important;
}

.menu .menu-header{
    width: 60%;
    margin: 0 auto;
}

.about-cheffe-home,
.menu {
    width: 80%;
    margin: 0 auto;
}

.title-1 {
    font-family: "Philosopher", sans-serif;
    font-weight: 600;
    font-size: clamp(2.4rem, 5vw, 4rem);
    text-align: center;
    color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin: 0;
    position: relative;
    width: 100%;
}

.title-1::before,
.title-1::after,
.sub-title-1::before,
.sub-title-1::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid var(--secondary-color);
}

.sub-title-1 {
    color: var(--secondary-color) !important;
    font-family: "Philosopher", sans-serif !important;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin: 1rem auto;
    position: relative;
    width: 80%;
}

.about-cheffe-home-content {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.about-cheffe-home-content p {
    text-align: start;
}

.about-cheffe-home-1,
.about-cheffe-home-2 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    /* flex-direction: column; */
    width: 90%;
}

.about-cheffe-home-1 .img-cropper {
    width: 70%;
    aspect-ratio: 1/1;
    margin: 0 2em 0 0;
    overflow: hidden;
}

.about-cheffe-home-1 img {
    /* width: 100%;
    height: 150%;
    object-fit: cover;
    object-position: top; */
    max-width: 100%;
    margin: 0 2em;
}

.about-cheffe-home-2 img {
    /* width: 100%;
    height: 150%;
    object-fit: cover;
    object-position: center; */
    max-width: 100%;
    margin: 2em 2em;
}

.about-cheffe-home-content .hero-title {
    text-align: center;
}

.footer {
    width: 100%;
    height: 10em;
    display: flex;
    justify-content: center;
    border-top: 2px solid var(--secondary-color);
}

.footer-container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-container .nav-footer,
.footer-container .lang {
    flex: 1;
}

.footer-container .nav-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-container .nav-footer a {
    color: #000;
    font-family: "Tiro Devanagari Hindi", serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: underline;
    font-size: 1rem;
}

.footer-container .logo-socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    /* Centre horizontalement */
}

.footer-container .logo-socials .logo {
    margin: 0 0 1rem 0;
}

.footer-container .logo-socials .socials {
    width: 100%;
    text-align: center;
    padding-bottom: .5rem;
    font-size: 2rem;
    border-bottom: 1px solid var(--secondary-color);
}


.footer-container .logo-socials .socials a {
    color: #000;
    margin: 0 .5rem;
}

.footer-container .lang {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer-container .lang,
.footer-container .lang a {
    color: #000;
    font-family: "Tiro Devanagari Hindi", serif;
    font-weight: 400;
    font-style: normal;
    /* text-decoration: underline; */
    font-size: 1rem;
}

@media screen and (max-width: 540px) {

    .nav-link {
        font-size: .9rem;
        padding: .4rem;
    }

    .navbar {
        width: 98%;
    }
}

@media screen and (max-width: 768px) {

    .cf .about-home,
    .about-cheffe-home-1,
    .about-cheffe-home-2 {
        flex-direction: column;
    }

    .cf .about-home-left,
    .cf .about-home-right {
        width: 100%;
        /* padding: 1rem; */
    }

    .cf .about-home-title,
    .about-cheffe-home-1-text p,
    .about-cheffe-home-2-text p {
        text-align: center;
    }

    .cf .about-home-right {
        align-items: flex-start;
    }
}

@media screen and (max-width: 780px) {

    .footer-container {
        flex-direction: column;
        gap: 1.5rem;
        padding: 1rem 0;
        text-align: center;
    }

    .footer-container .logo-socials {
        order: 1;
    }

    .footer-container .nav-footer {
        order: 2;
    }

    .footer-container .lang {
        order: 3;
    }

    .footer-container .nav-footer,
    .footer-container .lang {
        align-items: center;
    }
}

@media screen and (max-width: 900px) {

    .navbar .logo {
        display: none;
    }
}

@media screen and (max-width: 980px) {

    .navbar .logo {
        display: none;
    }

    .about-cheffe-home-1,
    .about-cheffe-home-2 {
        flex-direction: column;
        align-items: center;
    }

    .about-cheffe-home-1-text p,
    .about-cheffe-home-2-text p {
        text-align: center;
    }
}