@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Tiro+Devanagari+Hindi:ital@0;1&display=swap');

:root {
    --primary-color: #BD9561;
    --secondary-color: #725530;
    --container-max-width: 1200px;
    --ac-bg-light: #BD9561;
}

.primary-color {
    color: var(--primary-color);
}

.s-c.s-fs.cf{
    padding: 0 !important;
}


a {
    text-decoration: none;
}

/*** navBar */
.logo-block {
    display:none !important;
}


.logo-block span,
#menu ul li:nth-child(1) a{
    font-size: 1.9rem;
    font-family: "Philosopher", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #000;
}

#menu-slider{
    width: 100%;
}
#menu-block{
    display: flex;
    width: 100%;
}
#menu{width: 100%;}
#menu ul{
    justify-content: space-between !important;
}



#menu li a{
    border:none;
}
#menu ul li a{
    font-size: 1.3rem;
    color:#fff;
    font-family: "Philosopher", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: relative;
    overflow: hidden;
    background: none;
    padding: .5rem;
    transition: all 0.4s ease;
}

#menu ul li a span{
    padding: 0.7rem 0 !important;
}

#menu ul li a span::before,
#menu ul li a span::after
{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    transition: transform 0.4s ease;
}

#menu ul li a span::before {
    top: 0;
    transform: scaleX(1);
    transform-origin: right;
}

#menu ul li a span::after {
    bottom: 0;
    transform: scaleX(1);
    transform-origin: left;
}

#menu ul li a span:hover::before {
    transform: scaleX(0);
}

#menu ul li a span:hover::after {
    transform: scaleX(0);
}

#menu ul li.wnd-active a {
    color: #000;
}



#menu ul li:nth-child(1) a span::before,
#menu ul li:nth-child(1) a span::after{
    width: 0;
    height: 0;
}


#menu ul li:nth-child(1){order: 2;}
#menu ul li:nth-child(2){order: 0;}
#menu ul li:nth-child(3){order: 1;}
#menu ul li:nth-child(4){order: 3;}
#menu ul li:nth-child(5){order: 4;}



@media screen and (max-width: 56.2437em) {
    .logo-block {
        display:block !important;
        width: 100%;
    }

    #menu-slider{
        width: 0;
    }
}

@media screen and (max-width: 370px) {
    .logo-block span{
        font-size: 1.5rem;
    }
}


.btn-1 {
    /* display: inline-block; */
    position: relative;
    overflow: hidden;
    background: none;
    color: var(--secondary-color);
    border: none;
    width: 100%;
    height: 100px;
    font-size: 3.4rem;
    font-family: "Philosopher", sans-serif;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
    transition: all 0.3s ease;
    transition-delay: 0.2s;
    /* margin-top: 2rem; */
}

.btn-1 a {
    color: var(--secondary-color);
    position: relative;
    z-index: 1;
    transition: all 0.3s ease;
    transition-delay: 0.2s;
}

.btn-1::before,
.btn-1::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--primary-color);
    transition: transform 0.4s ease;
}

.btn-1::before {
    top: 0;
    transform: scaleX(1);
    transform-origin: right;
}

.btn-1::after {
    bottom: 0;
    transform: scaleX(1);
    transform-origin: left;
}

.btn-1:hover::before {
    transform: scaleX(0);
}

.btn-1:hover::after {
    transform: scaleX(0);
}

.btn-1:hover {
    scale: 1.1;
    color: var(--primary-color);
}

.btn-1:hover a {
    color: var(--primary-color);
}





.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #000; */
    color: #fff;
    font-family: "Philosopher", sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
}

.hero-title {
    font-size: 4rem !important;
    font-weight: 400 !important;
    font-family: "Philosopher", sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
}

.hero-sent {
    font-size: 40px;
}

.hero-und {
    font-size: 36px;
}




footer.cf {
    display: none !important;
}

.footer {
    width: 100%;
    min-height: 10em;
    display: flex;
    justify-content: center;
    border-top: 2px solid var(--secondary-color);
}

.footer-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-container .nav-footer,
.footer-container .lang {
    flex: 1;
}

.footer-container .nav-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-container .nav-footer a {
    color: #000;
    font-family: "Tiro Devanagari Hindi", serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: underline;
    font-size: 1rem;
}

.footer-container .logo-socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.footer-container .logo-socials .logo {
    margin: 0 0 1rem 0;
}

.footer-container .logo-socials .socials {
    width: 100%;
    text-align: center;
    padding-bottom: .5rem;
    font-size: 2rem;
    border-bottom: 1px solid var(--secondary-color);
}

.footer-container .logo-socials p {
    font-size:0.8rem;
}
.footer-container .logo-socials p.logo {
    font-size:1.9rem;
}


.footer-container .logo-socials .socials a {
    color: #000;
    margin: 0 .5rem;
}

.footer-container .lang {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer-container .lang,
.footer-container .lang a {
    color: #000;
    font-family: "Tiro Devanagari Hindi", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
}

@media screen and (max-width: 780px) {

    .footer-container {
        flex-direction: column;
        gap: 1.5rem;
        padding: 1rem 0;
        text-align: center;
    }

    .footer-container .logo-socials {
        order: 1;
    }

    .footer-container .nav-footer {
        order: 2;
    }

    .footer-container .lang {
        order: 3;
    }

    .footer-container .nav-footer,
    .footer-container .lang {
        align-items: center;
    }
}

