@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Tiro+Devanagari+Hindi:ital@0;1&display=swap');

:root {
    --primary-color: #BD9561;
    --secondary-color: #725530;
}

.primary-color {
    color: var(--primary-color);
}

.body {
    margin: 0 auto;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

.btn-1 {
    position: relative;
    overflow: hidden;
    background: none;
    color: var(--secondary-color);
    border: none;
    width: 100%;
    height: 100px;
    font-size: 64px;
    font-family: "Philosopher", sans-serif;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
    transition: all 0.3s ease;
    transition-delay: 0.2s;
}

.btn-1 a {
    color: var(--secondary-color);
    position: relative;
    z-index: 1;
    transition: all 0.3s ease;
    transition-delay: 0.2s;
}

.btn-1::before,
.btn-1::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--primary-color);
    transition: transform 0.4s ease;
}

.btn-1::before {
    top: 0;
    transform: scaleX(1);
    transform-origin: right;
}

.btn-1::after {
    bottom: 0;
    transform: scaleX(1);
    transform-origin: left;
}

.btn-1:hover::before {
    transform: scaleX(0);
}

.btn-1:hover::after {
    transform: scaleX(0);
}

.btn-1:hover {
    scale: 1.1;
    color: var(--primary-color);
}

.btn-1:hover a {
    color: var(--primary-color);
}

.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #000; */
    color: #fff;
    font-family: "Philosopher", sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
}

.hero-title {
    font-size: 64px !important;
    font-weight: 400 !important;
}

.hero-sent {
    font-size: 40px;
}

.hero-und {
    font-size: 36px;
}

.cf .about-home {
    display: flex;
    align-items: flex-start;
    width: 80%;
    margin: 2% auto;
    text-align: left;
}

.cf .about-home-left,
.cf .about-home-right {
    width: 50%;
    box-sizing: border-box;
    padding: 0 2rem;
}

.cf .about-home-right {
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cf .about-home-title {
    margin: 0;
    font-family: "Philosopher", sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
    font-size: clamp(1.7rem, 5vw, 3.5rem) !important;
}

.cf .about-home-text-left {
    display: flex;
    flex-direction: column;
}

.cf .about-home-text-left p,
.cf .about-home-right p,
.cf .about-home-right .tel,
.about-cheffe-home-1-text p {
    font-family: "Tiro Devanagari Hindi", serif;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(1.2rem, 3vw, 1.9rem);
    margin: 1.7rem 0;
    color: #000;
}

.about-home-right img {
    max-width: 100%;
}

.cf .about-home-text-left p span,
.cf .about-home-title span,
.cf .about-home-right .tel span {
    color: var(--primary-color) !important;
}

@media screen and (max-width: 768px) {
    .cf .about-home {
        flex-direction: column;
    }

    .cf .about-home-left,
    .cf .about-home-right {
        width: 100%;
        /* padding: 1rem; */
    }

    .cf .about-home-title {
        text-align: center;
    }

    .cf .about-home-right {
        align-items: flex-start;
    }
}

.about-cheffe-home {
    width: 80%;
}

.title-1 {
    font-family: "Philosopher", sans-serif;
    font-weight: 600;
    font-size: clamp(2.4rem, 5vw, 4rem);
    text-align: center;
    color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin: 0;
    position: relative;
    width: 100%;
}

.title-1::before,
.title-1::after,
.sub-title-1::before,
.sub-title-1::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid var(--secondary-color);
}

.sub-title-1 {
    color: var(--secondary-color) !important;
    font-family: "Philosopher", sans-serif !important;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin: 1rem auto;
    position: relative;
    width: 30%;
}

.about-cheffe-home-content {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.about-cheffe-home-1 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    /* flex-direction: column; */
    width: 90%;
}

.img-cropper {
    width: 50%;
    aspect-ratio: 1/1;
    margin: 0 2em 0 0;
    overflow: hidden;
}

.img-cropper img {
    width: 100%;
    height: 150%;
    object-fit: cover;
    object-position: top;
}